/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	background-color: rgb(87,88,93);
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
	 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

header{
	background-color: black;
	width: 70%;
	height: 125px;
	margin-left: auto;
    margin-right: auto;
}

header > h1 {
	text-align: center;
	color: white;
	margin: 0px;
	padding-top: 25px;
}
#menu ul
{
	position: relative;
	left: 20px;
	top: 25px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#menu li
{
    list-style: none;
}

#menu a
{
    display: block;
    width: 20em;
    color: white;
    background-color: rgb(87,88,93);
    text-decoration: none;
    text-align: center;
}

#menu a:hover
{
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

#menu li
{
    list-style: none;
    float: left;
    margin-right: 0.5em;
}

.main {
	background-color: black;
	width: 70%;
	height: 800px;
	margin-left: auto;
    margin-right: auto;
	margin-top: 100px;
}

footer{
	background-color: black;
	width: 70%;
	height: 35px;
	margin-left: auto;
    margin-right: auto;
	margin-top: 100px;
	text-align: center;
}
footer > p {
	color: white;
	position: relative;
	top: 5px;
}
/* VIEWPORT < 768px */
@media only screen and (max-width: 768px){
header{
	background-color: black;
	width: 17em;
	height: 55px;
	margin-left: auto;
    margin-right: auto;
}

header > h1 {
	text-align: center;
	color: white;
	margin: 0px;
	padding-top: 5px;
	font-size: 20px;
}
#menu ul
{
	position: relative;
	left: 0px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#menu li
{
    list-style: none;
}

#menu a
{
    display: block;
    width: 17em;
    color: white;
    background-color: black;
    text-decoration: none;
    text-align: center;
}

#menu a:hover
{
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

#menu li
{
    list-style: none;
    margin-right: 0.5em;
}
.main {
	background-color: black;
	width: 17em;
	height: 300px;
	margin-left: auto;
    margin-right: auto;
	margin-top: 100px;
}
footer{
	background-color: black;
	width: 17em;
	height: 30px;
	margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
	text-align: center;
}
footer > p {
	color: white;
	position: relative;
	font-size: 10px;
	top: 5px;
}
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}